<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get in Touch | eCubed</title>

    <!--LINKS AND STYLESHEETS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style_contact.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">

    <!--SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
<body>

<div class="wrapper">
    <div class="topImage">

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboard
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/level">Level</a></li>
                            <li><a class="dropdown-item" href="/temperature">Temperature</a></li>
                            <li><a class="dropdown-item" href="/distance">Distance</a></li>
                            <li><a class="dropdown-item" href="/misc">Miscellaneous</a></li>
                        </ul>
                        <a class="nav-link" href="/warnings">Report</a>
                        <a class="nav-link" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- HEADING -->
        <div class="container">
            <h1 class="mainHeading heading">Contact.</h1>
        </div>
    </div>

    <!-- INFORMATION -->
    <div class="getInTouch">
        <div class="container">
            <h1 class="touchHeading heading text-center display-2">Get in touch.</h1>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3 class="heading centerOnMd">Developers.</h3>
                    <ul class="centerOnMd">
                        <li>Simon Zangerl<br>
                            <a href="mailto:simon.zangerl@hotmail.com">simon.zangerl@hotmail.com</a>
                        </li>
                        <li>Amra Mujcinovic<br>
                            <a href="mailto:amra.mujcinovic@edu.szu.at">amra.mujcinovic@edu.szu.at</a>
                        </li>
                        <li>Anastasia Popovic<br>
                            <a href="mailto:anastasia.popovic@edu.szu.at">anastasia.popovic@edu.szu.at</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="heading align-right centerOnMd">Endress+Hauser.</h3>
                    <ul class="align-right centerOnMd">
                        <li>Endress+Hauser GmbH<br>
                            <a href="tel:+431880560">Tel. +43 (0)1 880 56 0<br></a>
                            <a href="mailto:info.sc@endress.com">info.sc@endress.com<br></a>
                            <a href="https://www.at.endress.com/de" target="_blank">www.at.endress.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT FORM -->
    <div class="canWeHelp">
        <div class="container">
            <h1 class="touchHeading heading text-center display-2" style="color: black">How can we help?</h1>

            <form class="row g-3">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name" aria-label="First name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" aria-label="With textarea" placeholder="How can we be of assistance?"></textarea>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-dark">Send</button>
                </div>
            </form>

        </div>
    </div>

    <!-- FORM -->
    <footer class="bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h6 class="text-uppercase footer-heading">About eCubed</h6>
                    <p>
                        eCubed is an all-in-one digital application to constantly be up to date on your fluid's properties.
                        Get information about the level, temperature, distance, and much more no matter where you are.
                        On the train or at home, at 6 a.m. or midnight. <br> Everything, Everywhere, Everytime.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase footer-heading">Main Pages</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="footer-li">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li class="footer-li">
                            <a href="/warnings" class="text-white">Warnings</a>
                        </li>
                        <li class="footer-li">
                            <a href="/level" class="text-white">Dashboard</a>
                        </li>
                        <li class="footer-li">
                            <a href="/contact" class="text-white">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase mb-0 footer-heading">Dashboard</h6>

                    <ul class="list-unstyled">
                        <li class="footer-li">
                            <a href="/level" class="text-white">Level</a>
                        </li>
                        <li class="footer-li">
                            <a href="/temperature" class="text-white">Temperature</a>
                        </li>
                        <li class="footer-li">
                            <a href="/distance" class="text-white">Distance</a>
                        </li>
                        <li class="footer-li">
                            <a href="/misc" class="text-white">Miscellaneous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Endress+Hauser</a>
        </div>
    </footer>
</div>

</body>
</html>